<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp m">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= t("layouts.application.titles.shoes.#{action_name}") %></h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--1-col"></div>
          <div class="mdl-cell mdl-cell--11-col">
            <%= form_with(model: shoe, local: true, id: 'form-shoes', multipart: true  ) do |form| %>

                <%= render 'shared/errors_messages_model', model: shoe %>

                <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= form.text_field :model, id: :shoe_model , class: 'mdl-textfield__input'%>
                  <%= form.label :model,class: 'mdl-textfield__label' %>
                </div>

                <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= form.text_field :brand, id: :shoe_brand , class: 'mdl-textfield__input'%>
                  <%= form.label :brand,class: 'mdl-textfield__label' %>
                </div>

                <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= form.text_field :isbn, id: :shoe_isbn , class: 'mdl-textfield__input'%>
                  <%= form.label :isbn,class: 'mdl-textfield__label' %>
                </div>

                <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= form.number_field :release_year, id: :shoe_release_year, class: 'mdl-textfield__input' %>
                  <%= form.label :release_year,class: 'mdl-textfield__label'  %>
                </div>

                <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <%= form.number_field :sku, id: :shoe_sku , class: 'mdl-textfield__input'%>
                  <%= form.label :sku,class: 'mdl-textfield__label' %>
                </div>

                <div class="mdl-file mdl-js-file mdl-file--floating-label">
                  <%= form.file_field :image, id: 'shoe[image]'%>
                  <%= form.hidden_field :image_cache %>
                  <%= form.label :image ,class: 'mdl-file__label', for: 'shoe[image]'  %>
                </div>

            <% end %>
          </div>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--5-col"></div>
          <div class="mdl-cell mdl-cell--7-col">

            <%= link_to t('layouts.application.cancel'), shoes_path,
                        class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
            <input type="submit" value=<%= t"layouts.application.button.#{action_name}" %>
                form="form-shoes" class="mdl-button mdl-js-button mdl-button--raised
               mdl-js-ripple-effect mdl-button--accent">
          </div>
        </div>
      </div>
      <div class="mdl-card__menu">
        <%= link_to content_tag('i','visibility', class: 'material-icons'), shoe  if action_name.in?(['update','edit'])%>
        <%= link_to content_tag('i','view_list', class: 'material-icons'), shoes_path %>

      </div>
    </div>

  </div>

</div>


