<%= provide(:title, I18n.t('layouts.application.titles.shoes.index')) %>

<div class="mdl-cell mdl-cell--12-col">

  <h3><%= I18n.t('activerecord.models.shoe') %></h3>

  <%= link_to new_shoe_path, class: 'fab-action' do %>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">add</i>
      </button>
  <% end %>

  <% I18n.with_options(scope: 'activerecord.attributes.shoe') do |i18n| %>
      <%= content_tag :table, role: :datatable, data: { url: shoes_path(format: :json)},
                      class: 'mdl-data-table  mdl-shadow--2dp', cellspacing: '0', width: '100%' do %>
          <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric"><%= i18n.t :model %></th>
            <th class="mdl-data-table__cell--non-numeric"><%= i18n.t :brand %></th>
            <th class="mdl-data-table__cell--non-numeric">Isbn</th>
            <th class="mdl-data-table__cell--non-numeric"><%= i18n.t :release_year %></th>
            <th class="mdl-data-table__cell--non-numeric">SKU</th>
            <th class="mdl-data-table__cell--non-numeric"><%= i18n.t :image %></th>
            <th></th>
          </tr>
          </thead>

          <tbody>

          </tbody>

      <% end %>
  <% end %>

  <br>
</div>
